{% extends 'base.html' %}

{% block header %}
<style>
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<!-- Hoja de estilo del login -->
<link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Contraseña{% endblock %}

{% block content %}

<body class="text-center bg-dark">
    <main class="form-signin bg-light rounded-3">
        <form action="{{ url_for('change_password') }}" method="post">
            <img class="mb-4" src="{{ url_for('static', filename='/icons/person-circle.svg') }}" alt="" width="72"
                height="57">

            <h1 class="h3 mb-3 fw-normal">Cambio de contraseña</h1>

            <div class="form-floating">
                <input type="text" class="form-control bg-light" placeholder="" value="{{user_name}}" disabled>
                <label for="user_name">Usuario</label>
            </div>
            <div class="form-floating pb-2">
                <input type="password" class="form-control bg-light" name="password" required>
                <label for="password">Contraseña</label>
            </div>

            <input name="user_name" value="{{user_name}}" hidden></label>

            {% if msg %}
            <div class="alert alert-info" role="alert">
                <strong>{{msg}}</strong>
            </div>
            {% endif %}

            <div class="modal-footer">
                <button class="btn bg-btn" type="submit">Guardar</button>
                <a class="btn btn-outline-primary" href="{{url_for('menu')}}" role="button">Atras</a>
            </div>
        </form>
    </main>
</body>
{% endblock %}